<body class="bg-gradient-to-r from-blue-900 to-blue-600 h-220" >
    <div class="container m-auto flex justify-center items-center mt-auto mb-auto">
        <div class="card w-100 h-120 border-2 bg-gradient-to-r from-green-600 to-green-400 p-6 rounded-lg shadow-md mt-40">
            <div class="m-0 flex justify-between items-center">
                <input type="text" placeholder="Enter your City" class="border-2 border-gray-500 rounded-2xl w-72 h-9 bg-gradient-to-r from-emerald-700 to-emerald-500 text-white placeholder-gray-300">
                <button class="w-9 h-9 rounded-full border-2 flex justify-center items-center hover:bg-gradient-to-r from-white to-gray-300 cursor-pointer">
                    <svg class="h-6 w-6 text-white" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M344.5,298c15-23.6,23.8-51.6,23.8-81.7c0-84.1-68.1-152.3-152.1-152.3C132.1,64,64,132.2,64,216.3  c0,84.1,68.1,152.3,152.1,152.3c30.5,0,58.9-9,82.7-24.4l6.9-4.8L414.3,448l33.7-34.3L339.5,305.1L344.5,298z M301.4,131.2  c22.7,22.7,35.2,52.9,35.2,85c0,32.1-12.5,62.3-35.2,85c-22.7,22.7-52.9,35.2-85,35.2c-32.1,0-62.3-12.5-85-35.2  c-22.7-22.7-35.2-52.9-35.2-85c0-32.1,12.5-62.3,35.2-85c22.7-22.7,52.9-35.2,85-35.2C248.5,96,278.7,108.5,301.4,131.2z"/>
                    </svg>
                </button>            
            </div>
            <div *ngIf="Weather" class="deatils cursor-pointer">
                <div class="ml-auto mr-auto items-center mt-7">
                    <h1 class="text-center text-4xl text-sky-200">{{Weather.location.localtime}}</h1>
                </div>
                <div class="shape flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#ccd0d7" [attr.d]="getweatherIcons(Weather.current.condition.code,Weather.current.is_day)"/></svg>
                </div>
            </div>
        </div>
    </div>
</body>