<div class="w-full h-20 bg-green-400">
    <div class="container mx-auto flex justify-between items-center px-4">
        <div class="left pt-5 pr-0">
            <ul class="flex gap-6 text-lg md:text-xl lg:text-2xl left-0">
                <li class="hover:text-white cursor-pointer">Home</li>
                <li class="hover:text-white cursor-pointer">Pages</li>
                <li class="hover:text-white cursor-pointer">Contact</li>
                <li class="hover:text-white cursor-pointer">About Us</li>
            </ul>
        </div>
        <div class="right hidden md:flex">
        </div>
    </div>
</div>